:root {
  --radius: 0.75rem;
  --accent: --alpha(var(--color-black) / 4%);
  --accent-foreground: var(--color-zinc-800);
  --background: var(--color-white);
  --border: --alpha(var(--color-black) / 12%);
  --card: var(--color-white);
  --card-foreground: var(--color-zinc-800);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-700);
  --foreground: var(--color-zinc-800);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-700);
  --input: --alpha(var(--color-black) / 12%);
  --muted: --alpha(var(--color-black) / 4%);
  --muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-black));
  --popover: var(--color-white);
  --popover-foreground: var(--color-zinc-800);
  --primary: var(--color-zinc-800);
  --primary-foreground: var(--color-zinc-50);
  --ring: var(--color-zinc-400);
  --secondary: --alpha(var(--color-black) / 4%);
  --secondary-foreground: var(--color-zinc-800);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-700);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-700);
}

.dark {
  --radius: 0.75rem;
  --accent: --alpha(var(--color-white) / 6%);
  --accent-foreground: var(--color-zinc-200);
  --background: color-mix(in srgb, var(--color-zinc-950) 98%, var(--color-white));
  --border: --alpha(var(--color-white) / 12%);
  --card: color-mix(in srgb, var(--background) 98%, var(--color-white));
  --card-foreground: var(--color-zinc-200);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-400);
  --foreground: var(--color-zinc-200);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --input: --alpha(var(--color-white) / 12%);
  --muted: --alpha(var(--color-white) / 6%);
  --muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-white));
  --popover: color-mix(in srgb, var(--background) 96%, var(--color-white));
  --popover-foreground: var(--color-zinc-200);
  --primary: var(--color-zinc-200);
  --primary-foreground: var(--color-zinc-800);
  --ring: var(--color-zinc-500);
  --secondary: --alpha(var(--color-white) / 6%);
  --secondary-foreground: var(--color-zinc-200);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-400);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-400);
}

@theme inline {
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-foreground: var(--foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-ring: var(--ring);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
